# Histograms

## Related Symptoms Histogram

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os

u = os.environ['prod_u']
p = os.environ['prod_p']


print(f'sqlalchemy version: {sqlalchemy.__version__}' )
# engine = create_engine('mysql+pymysql://root@localhost:3600/questionnaire_tagging')
engine = create_engine(f'mysql+pymysql://{u}:{p}@localhost:3307/questionnaire_tagging')
# Session = sessionmaker(bind=engine)
# session = Session()

sqlalchemy version: 1.3.12

### Build the query string

In [2]:
"""
'additional symptoms', 11
'neurological symptoms', 19
'prodromal symptoms', 73
'recent related symptoms', 257
'following symptoms', 258
"""
question_ids = ['11','19','73','257','258']
ids_list = ','.join(question_ids)
query_str = f"""
SELECT tg_res.value AS symptoms, COUNT(*) AS number_of_times FROM
    (SELECT ansr.id AS a_id, ansr.valid AS a_val, qstn.valid AS q_valid, qstn.category_id AS q_cat, qstn.id as q_id
    FROM questionnaire_tagging.questions qstn INNER JOIN questionnaire_tagging.answers ansr
    ON qstn.id = ansr.question_id
    WHERE qstn.valid = 1 AND qstn.category_id IN ({ids_list}) AND ansr.valid = 1) q_a
INNER JOIN questionnaire_tagging.tagging_responses tg_res
ON tg_res.value = q_a.a_id
GROUP BY tg_res.value
ORDER BY number_of_times DESC;
"""

print(query_str)

SELECT tg_res.value AS symptoms, COUNT(*) AS number_of_times FROM
    (SELECT ansr.id AS a_id, ansr.valid AS a_val, qstn.valid AS q_valid, qstn.category_id AS q_cat, qstn.id as q_id
    FROM questionnaire_tagging.questions qstn INNER JOIN questionnaire_tagging.answers ansr
    ON qstn.id = ansr.question_id
    WHERE qstn.valid = 1 AND qstn.category_id IN (11,19,73,257,258) AND ansr.valid = 1) q_a
INNER JOIN questionnaire_tagging.tagging_responses tg_res
ON tg_res.value = q_a.a_id
GROUP BY tg_res.value
ORDER BY number_of_times DESC;

### Run the query

In [3]:
import pandas as pd

related_symtoms_as_answer_ids_df = pd.read_sql_query(query_str, engine)

/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;5090'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;6938'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5090;5652;6245'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;5439'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5088;6947'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;6938'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;5652'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087;5090;5652'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5090;5092;5439;5652;6244'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5349;5414;6939;7106'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;5088;5090'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5349;5352;7124'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;6327'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5090;5652'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;6947'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5090;5652;6458'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087;5652'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5413;7124'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5349;7106;7124'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '863;6943'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5088;5090;5652'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5088;6944'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5090'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087;5088'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5090;5439;6938'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5349;5353;5409;5411;7106;7124'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087;5440;5652;6937'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087;5090'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;5088;5090;5652;6937'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5088;5439'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087;5090;5652;6947'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;5088;5090;6947'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5408;5413'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5090;5439'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;5090;5652;6947'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5652'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5088;5090;5436;5652;6458'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5353;7124'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5088;5090;5652'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087;5440'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5086;5087;5088;5090;6937'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5087;5088;5090;6938'")
  result = self._query(query)
/Users/ezequiellowi/.local/share/virtualenvs/ml_python-pk9MJSaq/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect DOUBLE value: '5090;6327;6947'")
  result = self._query(query)

In [4]:
display(related_symtoms_as_answer_ids_df.head(20))

       symptoms  number_of_times
0         10120              731
1          7517              507
2         10205              188
3          8525              174
4          2552              112
5         10107              101
6          8524               98
7          7519               98
8          2550               73
9         10124               71
10         8526               62
11  10205;10268               56
12         8528               56
13         8527               54
14    8524;8525               51
15   10120;2552               44
16         7982               34
17  10205;10206               31
18        10128               31
19        10268               28

### Answer/Symptom lookup table

In [5]:
query_str = """
SELECT id, name
FROM questionnaire_tagging.answers
WHERE valid=1
"""
ans_lookup_table = pd.read_sql_query(query_str, engine, index_col='id')

In [6]:
display(ans_lookup_table.head(5))
ans_lookup_table.loc[8527]

            name
id
21  yellow vomit
22   green vomit
23  bloody vomit
30          None
31          None

name    fever
Name: 8527, dtype: object